@import '~antd/dist/antd.css';

/* TODO: correctly modify ant CSS */
.ant-layout {
  height: 100vh;
}

.ant-menu.ant-menu-dark 
.ant-menu-item-selected, 
.ant-menu-submenu-popup.ant-menu-dark 
.ant-menu-item-selected {
  background-color: #0a9998;
}

.ant-layout-content {
  flex: none;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #0a9998;
}

.logo {
  margin: 8px;
}

.drawer {
  width: 200px;
  background-color: #001528;
}